# Question 1: gloud version 
Install Google Cloud SDK. What's the version you have? (To get the version, run gcloud --version)

In [ ]:
370.0.0

# Question 2: terraform apply

In [ ]:
NIL

# Question 3: Count records 
How many taxi trips were there on January 15?

In [1]:
SELECT
  CAST(tpep_pickup_datetime AS DATE) as "day",
  COUNT(1) as "count"
  
FROM
	yellow_taxi_trips t
	
GROUP BY
	CAST(tpep_pickup_datetime AS DATE)
	
ORDER BY 
	"day" ASC,
	"count" DESC;

IndentationError: unexpected indent (4266532626.py, line 2)

# Question 4: Largest tip for each day 
On which day it was the largest tip in January? (note: it's not a typo, it's "tip", not "trip")

In [ ]:
SELECT
  CAST(tpep_dropoff_datetime AS DATE) as "day",
  "tip_amount" as "tip"
  
FROM
	yellow_taxi_trips t
	
GROUP BY
	1,2
	
ORDER BY "tip" DESC;

# Question 5: Most popular destination 
What was the most popular destination for passengers picked up in central park on January 14? Enter the zone name (not id). If the zone name is unknown (missing), write "Unknown"

In [ ]:
SELECT
  CAST(tpep_pickup_datetime as DATE) as "day",
  "PULocationID",
  "DOLocationID",
  COUNT(1) as "count"
FROM
  yellow_taxi_trips
WHERE
  (tpep_pickup_datetime>='2021-01-14 00:00:00' AND
  tpep_pickup_datetime<'2021-01-14 11:59:59') AND 
  "PULocationID"=43
  
  
GROUP BY
	1,2,3
ORDER BY
	"day" ASC,
	"count" ASC;

# Question 6: Most expensive route 
What's the pickup-dropoff pair with the largest average price for a ride (calculated based on total_amount)? Enter two zone names separated by a slashFor example:"Jamaica Bay / Clinton East"If any of the zone names are unknown (missing), write "Unknown". For example, "Unknown / Clinton East".

In [ ]:
SELECT
	
	AVG(total_amount) AS "avg_amnt",
    CONCAT(zpu."Zone", '/', zdo."Zone") AS "zones"
    
FROM
    yellow_taxi_trips t JOIN zones zpu
        ON t."PULocationID" = zpu."LocationID"
    JOIN zones zdo
        ON t."DOLocationID" = zdo."LocationID"
GROUP BY
	2
ORDER BY
	1 DESC;