In [60]:
import pandas as pd

In [61]:
pd.__version__

'1.3.3'

In [42]:
df = pd.read_csv('yellow_taxi_data.csv',nrows=100)

In [43]:
#We have to tell pandas that pickup/dropoff_datatime is of type datatime
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [44]:
"""
# conda install -c anaconda sqlalchemy 
"""

'\n# conda install -c anaconda sqlalchemy \n'

In [45]:
#pip install psycopg2-binary

In [67]:
#Creating a connection to postgres to generate the ddl that postgres can understand. 
from sqlalchemy import create_engine

In [68]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [50]:
#How the schema should look like in sql
print(pd.io.sql.get_schema(df,name='yellow_taxi_data',con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [52]:
df_iter = pd.read_csv('yellow_taxi_data.csv',iterator=True,chunksize=100000)

In [53]:
df_iter

In [54]:
df=next(df_iter)

In [55]:
#We have to tell pandas that pickup/dropoff_datatime is of type datatime
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [56]:
#n=0 will only return the header.We use this to insert all these data to our data base. Just the table
df.head(n=0).to_sql(name='yellow_taxi_data',con=engine,if_exists='replace')

In [57]:
#Insert data. Append - appends the values to the exi sting data for each chunk of data. %time - Tells time taken
%time df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')

CPU times: user 4.47 s, sys: 16.5 ms, total: 4.49 s
Wall time: 10.5 s

In [58]:
from time import time

In [59]:
while True:
    
    try:
        start_time = time()
        df = next(df_iter)

        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

        %time df.to_sql(name='yellow_taxi_data',con=engine,if_exists='append')

        end_time = time()

        print("Inserted another chunk | Time Taken %.3f second' " %(end_time - start_time))
    
    except:
        print("Insertion Completed")
        break

CPU times: user 4.47 s, sys: 35.9 ms, total: 4.5 s
Wall time: 10.6 s
Inserted another chunk | Time Taken 10.736 second'
CPU times: user 3.21 s, sys: 20.1 ms, total: 3.23 s
Wall time: 6.83 s
Inserted another chunk | Time Taken 7.049 second'
CPU times: user 3.92 s, sys: 23.9 ms, total: 3.95 s
Wall time: 8.97 s
Inserted another chunk | Time Taken 9.196 second'
CPU times: user 4.81 s, sys: 16.3 ms, total: 4.82 s
Wall time: 11.2 s
Inserted another chunk | Time Taken 11.373 second'
CPU times: user 4.74 s, sys: 31.1 ms, total: 4.78 s
Wall time: 11.1 s
Inserted another chunk | Time Taken 11.220 second'
CPU times: user 4.34 s, sys: 16.3 ms, total: 4.36 s
Wall time: 10.6 s
Inserted another chunk | Time Taken 10.771 second'
CPU times: user 3.83 s, sys: 3.94 ms, total: 3.84 s
Wall time: 8.56 s
Inserted another chunk | Time Taken 8.799 second'
CPU times: user 3.64 s, sys: 23.9 ms, total: 3.67 s
Wall time: 7.84 s
Inserted another chunk | Time Taken 8.061 second'
CPU times: user 4.38 s, sys: 11.7 ms, total: 4.39 s
Wall time: 10.6 s
Inserted another chunk | Time Taken 10.871 second'
CPU times: user 4.53 s, sys: 11.8 ms, total: 4.54 s
Wall time: 11.1 s
Inserted another chunk | Time Taken 11.286 second'
CPU times: user 4.36 s, sys: 36.1 ms, total: 4.39 s
Wall time: 10.6 s
Inserted another chunk | Time Taken 10.786 second'
CPU times: user 3.98 s, sys: 12.2 ms, total: 3.99 s
Wall time: 10.1 s
Inserted another chunk | Time Taken 10.286 second'
CPU times: user 2.06 s, sys: 32 µs, total: 2.06 s
Wall time: 4.81 s
Inserted another chunk | Time Taken 4.931 second'
Insertion Completed

In [63]:


!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-01-26 18:29:16--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.165.165
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.165.165|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv.1’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0.001s

2022-01-26 18:29:18 (8.77 MB/s) - ‘taxi+_zone_lookup.csv.1’ saved [12322/12322]

In [64]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [65]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [69]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')